.place__title{
  grid-area: tittle;
  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media all and (max-width:1023px){
  .place__title{
    font-size: 42px;
    line-height: 46px;
    padding-right: 10px;
  }
}

@media all and (max-width:767px){
  .place__title{
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
  }
}
