.page{
  background: #2A2C2F;
  color: #fff;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 48px;
  padding-right: 48px;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
  padding-top: 28px;
  padding-bottom: 24px;
  /* overflow: hidden; */
}

@media all and (max-width:1279px) {
  .page{
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media all and (max-width:1023px){
  .page{
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media all and (max-width:767px){
  .page{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 15px;
  }
}
