*{
  outline: 1px solid yellow;
}


.page{
  background: #2A2C2F;
  color: #fff;
  font-family: Inter, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  max-width: 100%;
  padding-top: 28px;
  padding-bottom: 24px;
}

@media all and (max-width:767px){
  .page{
    padding-top: 15px;
  }
}
