.photo-grid{
  max-width: 1184px;
  display: grid;
  gap: 16px;
  margin-bottom: 92px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

@media all and (max-width:1280px) and (min-width:1024px) {
  .photo-grid{
    max-width: 928px;
  }
}

@media all and (max-width:1023px) and (min-width:768px){
  .photo-grid{
    max-width: 720px;
  }
}

@media all and (max-width:767px) and (min-width:320px){
  .photo-grid{
    max-width: 288px;
    margin-bottom: 64px;
  }
}
