.places{
  max-width: 984px;
  margin-bottom: 90px;
}

@media all and (max-width:1279px) and (min-width:1024px) {
  .places{
    max-width: 928px;
  }
}

@media all and (max-width:1023px) and (min-width:768px){
  .places{
    max-width: 720px;
  }
}

@media all and (max-width:767px) and (min-width:320px){
  .places{
    max-width: 320px;
    margin-bottom: 64px;
  }
}
