.header__links{
  display: flex;
  gap: 18px;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  margin-top: 16px;
  list-style: none;
}

@media all and (max-width:767px){
  .header__links{
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0em;
  margin-top: 15px;
  }
}
