.lead{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 92px;
  max-width: 984px;
}

@media all and (max-width:1279px) and (min-width:1024px) {
  .lead{
    max-width: 928px;
  }
}

@media all and (min-width:768px) and (max-width:1024px) {
  .lead{
    max-width: 768px;
  }
}

@media all and (max-width:767px) and (min-width:320px){
  .lead{
    max-width: 320px;
    margin-bottom: 64px;
  }
}

/* @media all and (max-width:1024px) and (min-width:768px){
  .lead{
    max-width: 768px;
  }
} */
