.lead{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 91px;
  max-width: 984px;
}

@media all and (max-width:1279px){
  .lead{
    max-width: 928px;
    margin-bottom: 91px;
  }
}

@media all and (max-width:1023px){
  .lead{
    max-width: 768px;
    margin-bottom: 87px;
  }
}

@media all and (max-width:767px){
  .lead{
    max-width: 320px;
    margin-bottom: 64px;
  }
}
