.cover__subtitle{
  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  z-index: 2;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

@media all and (max-width:767px){
  .cover__subtitle{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
  }
}
