.cover__subtitle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media all and (max-width:767px) and (min-width:320px){
  .cover__subtitle{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
  }
}
