.website__link{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.website__link:hover{
  opacity: 0.8;
  transition: opacity 300ms ease-in-out;
}

@media all and (max-width:1023px) and (min-width:768px){
  .website__link{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
  }
}
