.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin-right: 48px;
  margin-left: 48px; */
  margin-bottom: 56px;
  max-width: 1184px;
}

@media all and (min-width:1024px) and (max-width:1279px) {
  .header{
    max-width: 1024px;
  }
}

@media all and (max-width:1023px) and (min-width:768px){
  .header{
    max-width: 768px;
  }
}


@media all and (max-width:767px) and (min-width:320px){
  .header{
    max-width: 320px;
  }
}

/* @media all and (min-width:1024px) and (max-width:1280px){
  .header{
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media all and (max-width:1024px) and (min-width:768px){
  .header{
    padding-left: 24px;
    padding-right: 24px;
  }
} */
