.content{
  max-width: 1184px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media all and (max-width:1279px){
  .content{
    max-width: 1024px;
  }
}

@media all and (max-width:1023px){
  .content{
    max-width: 768px;
  }
}

@media all and (max-width:767px){
  .content{
    max-width: 305px;
  }
}

