.place__paragraphs{
  grid-area: paragtaphs;
  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

@media all and (max-width:1023px){
  .place__paragraphs{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0em;
  }
}

@media all and (max-width:767px){
  .place__paragraphs{
    margin-left: 16px;
    margin-right: 16px;
  }
}
