.footer__links{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:18px;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media all and (max-width:767px){
  .footer__links{
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}
