.lead__image{
  width: 100%;
  margin-top: 0;
  margin-bottom: 7px;
  object-fit: contain;
  box-sizing: border-box;
}



@media all and (max-width:767px){
  .lead__image{
    margin-bottom: 6px;
  }
}
