.lead__image{
  max-width: 984px;
  margin-top: 0;
  margin-bottom: 7px;
  object-fit: contain;
  box-sizing: border-box;
}

@media all and (max-width:1279px){
  .lead__image{
    max-width: 928px;
  }
}

@media all and (max-width:1023px){
  .lead__image{
    max-width: 100%;
  }
}

@media all and (max-width:767px){
  .lead__image{
    max-width: 305px;
    margin-bottom: 5px;
  }
}
