.intro__text{
  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 33px 0;
  max-width: 690px;
}

@media all and (max-width:1023px) {
  .intro__text{
    max-width: 720px;
  }
}

@media all and (max-width:767px){
  .intro__text{
    max-width: 288px;
    margin-bottom: 35px;
  }
}
