.intro{
  width: 984px;
  margin-bottom: 92px;
}

@media all and (max-width:1279px) and (min-width:1024px){
  .intro{
    max-width: 928px;
  }
}

@media all and (min-width:768px) and (max-width:1024px) {
  .intro{
    max-width: 720px;
  }
}

@media all and (max-width:767px) and (min-width:320px){
  .intro{
    max-width: 288px;
    margin-bottom: 64px;
  }
}


/* @media all and (max-width:1024px) and (min-width:768px){
  .intro{
    max-width: 720px;
  }
} */
