.intro{
  width: 984px;
  margin-bottom: 80px;
}

@media all and (max-width:1279px){
  .intro{
    max-width: 928px;
    align-self: flex-start;
    margin-left: 48px;
  }
}

@media all and (max-width:1023px){
  .intro{
    max-width: 720px;
    margin-bottom: 75px;
    margin-left: 24px;
  }
}

@media all and (max-width:767px){
  .intro{
    max-width: 288px;
    margin-bottom: 54px;
    margin-left: 15px;
  }
}

