.website__url-heading{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 12px;
  color: #AAAAAA;
}

@media all and (max-width:1023px) and (min-width:768px){
  .website__url-heading{
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  margin-left: 16px;
  }
}
