.cover{
  width: 100%;
  min-height: 740px;
  margin-bottom: 92px;
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.cover::before{
  content: " ";
  position: absolute;
  background-color: rgba(42,44,47,0.3);
  transition: background-color 300ms ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cover:hover::before{
  background-color: rgba(42,44,47,0.8);
}

@media all and (max-width:1279px) {
  .cover{
    min-height: 640px;
  }
}

@media all and (max-width:1023px) {
  .cover{
    min-height: 480px;
    margin-bottom: 88px;
  }
}

@media all and (max-width:767px) {
  .cover{
    min-height: 200px;
    margin-bottom: 64px;
  }
}
