.cover{
  min-width: 320px;
  width: 100%;
  height: 100%;
  max-width: 1184px;
  margin-bottom: 94px;
  background-color:  #2A2C2F;
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  display: block;
  text-decoration: none;
  color: white;
}

.cover:hover .cover__background{
  background-color: rgba(42,44,47,0.8);;
  transition: background-color 300ms ease-in-out;
}

@media all and (max-width:1279px) and (min-width:1024px){
  .cover{
    width: 1024px;
  }
}

@media all and (max-width:1023px) and (min-width:768px){
  .cover{
    width: 768px;
  }
}

@media all and (max-width:767px) and (min-width:320px){
  .cover{
    width: 320px;
    margin-bottom: 64px;
  }
}
