.cover__background{
  max-width: 100%;
  height: 740px;
  max-height: 740px;
  background-color: rgba(42,44,47,0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 245px;
  box-sizing: border-box;
}

@media all and (max-width:1279px) and (min-width:1024px) {
  .cover__background{
    padding-top: 195px;
    max-height: 640px;
  }
}

@media all and (max-width:1023px) and (min-width:768px){
  .cover__background{
    padding-top: 115px;
    max-height: 480px;
  }
}

@media all and (max-width:767px) and (min-width:320px){
  .cover__background{
    padding-top: 33px;
    max-height: 200px;
  }
}
