.cover__title{
  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin-bottom: 32px;
  z-index: 100;
  color: #fff;
  max-width: 560px;
}

@media all and (max-width:767px){
  .cover__title{
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0em;
    margin-bottom: 16px;
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}
