.place{
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 1fr;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-areas:  "tittle website"
                        "image paragtaphs";
  margin-bottom: 80px;
}

.place:last-child{
  margin-bottom: 0;
}

@media all and (max-width:1279px){
  .place{
    max-width: 928px;
    grid-template-columns: 440px 1fr;
    column-gap: 33px;
  }
}

@media all and (max-width:1023px){
  .place{
    max-width: 720px;
    column-gap: 28px;
    row-gap: 43px;
    grid-template-columns: 340px 1fr;
    margin-bottom: 72px;
  }
}

@media all and (max-width:767px){
  .place{
    max-width: 100%;
    row-gap: 31px;
    grid-template-columns: 100%;
    grid-template-areas:  "tittle"
                          "website"
                          "image"
                          "paragtaphs";
    margin-bottom: 50px;
  }
}
