.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding-left: 48px;
  padding-right: 48px; */
  /* margin-bottom: 48px; */
  max-width: 1184px;
}

/* @media all and (min-width:1024px) and (max-width:1279px) {
  .footer{
    max-width: 928px;
  }
} */

@media all and (min-width:1024px) and (max-width:1279px) {
  .footer{
    max-width: 1024px;
    /* margin-left: 48px;
    margin-right: 48px; */
  }
}

@media all and (max-width:1023px) and (min-width:768px){
  .footer{
    max-width: 768px;
  }
}

@media all and (max-width:767px) and (min-width:320px){
  .footer{
    max-width: 320px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    margin-top: 0;
  }
}
