.intro__title{
  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  margin-bottom: 37px;
  max-width: 690px;
}

@media all and (max-width:767px){
  .intro__title{
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0em;
    margin-bottom: 39px;
  }
}
